@page "/list"
@inject NavigationManager NavigationManager
<h3>VOA-List</h3>
<MList>
    @for (int i = 0; i < 3; i++)
    {
        <MListItem OnClick="@(()=>LabelClickAsync(i))">

            <MListItemContent>
                <MListItemTitle>@i</MListItemTitle>
            </MListItemContent>

        </MListItem>
    }
</MList>
@code {
    private void LabelClickAsync(int value)
    {
        NavigationManager.NavigateTo($"detail/{value}");

    }
}
